zed-interfaces==4.2.1
zed-topic-benchmark-interfaces==4.1.0
zed-interfaces==4.1.0
object-detection-zed-depth-v2==0.0.0
object-detection-zed-depth-v1==0.0.0
my-multi-node-package==0.0.0
image-pointcloud-saver==0.0.0
custom-path-follower==0.0.0
rqt-bag-plugins==1.1.5
rqt-bag==1.1.5
ros2bag==0.15.11
rosbag2-py==0.15.11
interactive-markers==2.3.2
visualization-msgs==4.2.4
turtlesim==1.4.2
tracetools-test==4.1.1
tracetools-launch==4.1.1
topic-monitor==0.20.4
tf2-tools==0.25.6
tf2-kdl==0.25.6
tf2-geometry-msgs==0.25.6
examples-tf2-py==0.25.6
tf2-ros-py==0.25.6
tf2-py==0.25.6
tf2-msgs==0.25.6
test-msgs==1.2.1
synchronized-subscriber==0.0.0
sros2==0.10.5
rqt-topic==1.5.0
rqt-srv==1.0.3
rqt-shell==1.0.2
rqt-service-caller==1.0.5
rqt-reconfigure==1.1.2
rqt-py-console==1.0.2
rqt-publisher==1.5.0
rqt-plot==1.1.2
rqt-action==2.0.1
rqt-msg==1.2.0
rqt-console==2.0.3
rqt==1.1.7
rqt-py-common==1.1.7
rqt-graph==1.3.1
rqt-gui-py==1.1.7
rqt-gui==1.1.7
rosbag2-storage-mcap-testdata==0.15.11
ros2trace==4.1.1
ros2topic==0.18.10
ros2test==0.4.0
ros2component==0.18.10
ros2param==0.18.10
ros2lifecycle==0.18.10
ros2service==0.18.10
ros2run==0.18.10
ros2launch==0.19.7
ros2pkg==0.18.10
ros2node==0.18.10
ros2multicast==0.18.10
ros2interface==0.18.10
ros2doctor==0.18.10
ros2cli-test-interfaces==0.18.10
ros2action==0.18.10
ros2cli==0.18.10
quality-of-service-demo-py==0.20.4
object-detection-3d-lidar-cam-yolov8-pytorch==0.0.0
message-filters==4.3.4
lifecycle-py==0.20.4
launch-testing-ros==0.19.7
launch-ros==0.19.7
laser-geometry==2.4.0
image-subscriber==0.0.0
examples-rclpy-pointcloud-publisher==0.15.1
examples-rclpy-minimal-subscriber==0.15.1
examples-rclpy-minimal-service==0.15.1
examples-rclpy-minimal-publisher==0.15.1
examples-rclpy-minimal-client==0.15.1
examples-rclpy-minimal-action-server==0.15.1
examples-rclpy-minimal-action-client==0.15.1
examples-rclpy-guard-conditions==0.15.1
examples-rclpy-executors==0.15.1
demo-nodes-py==0.20.4
action-tutorials-py==0.20.4
rclpy==3.3.13
example-interfaces==0.9.3
action-tutorials-interfaces==0.20.4
action-msgs==1.2.1
unique-identifier-msgs==2.2.1
ament-uncrustify==0.12.11
trajectory-msgs==4.2.4
tracetools-trace==4.1.1
tracetools-read==4.1.1
logging-demo==0.20.4
qt-gui-cpp==2.2.3
test-tracetools-launch==4.1.1
test-launch-ros==0.19.7
qt-gui==2.2.3
stereo-msgs==4.2.4
std-srvs==4.2.4
shape-msgs==4.2.4
sensor-msgs-py==4.2.4
map-msgs==2.1.0
sensor-msgs==4.2.4
nav-msgs==4.2.4
diagnostic-msgs==4.2.4
geometry-msgs==4.2.4
actionlib-msgs==4.2.4
std-msgs==4.2.4
statistics-msgs==1.2.1
rosgraph-msgs==1.2.1
rosbag2-interfaces==0.15.11
rmw-dds-common==1.6.0
composition-interfaces==1.2.1
rcl-interfaces==1.2.1
pendulum-msgs==0.20.4
lifecycle-msgs==1.2.1
builtin-interfaces==1.2.1
rosidl-generator-py==0.14.4
rpyutils==0.2.1
rosidl-typesupport-cpp==2.0.1
rosidl-typesupport-introspection-cpp==3.1.5
rosidl-typesupport-c==2.0.1
rosidl-typesupport-introspection-c==3.1.5
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-generator-cpp==3.1.5
rosidl-generator-c==3.1.5
rosidl-runtime-py==0.9.3
rosidl-generator-dds-idl==0.8.1
rosidl-cmake==3.1.5
rosidl-parser==3.1.5
rosidl-adapter==3.1.5
rosidl-cli==3.1.5
resource-retriever==3.1.2
rcutils==5.1.6
qt-gui-py-common==2.2.3
qt-dotgraph==2.2.3
python-qt-binding==1.1.2
launch-pytest==1.0.6
launch-testing==1.0.6
launch-yaml==1.0.6
launch-xml==1.0.6
launch==1.0.6
osrf-pycommon==2.1.4
launch-testing-examples==0.15.1
ament-cmake-google-benchmark==1.3.9
domain-coordinator==0.10.0
ament-xmllint==0.12.11
ament-pyflakes==0.12.11
ament-pycodestyle==0.12.11
ament-pep257==0.12.11
ament-pclint==0.12.11
ament-cmake-test==1.3.9
ament-package==0.14.0
ament-mypy==0.12.11
ament-lint-cmake==0.12.11
ament-flake8==0.12.11
ament-copyright==0.12.11
ament-lint==0.12.11
ament-index-python==1.4.0
ament-cpplint==0.12.11
ament-cppcheck==0.12.11
ament-clang-tidy==0.12.11
ament-clang-format==0.12.11
ros2bag==0.15.11
rosidl-cli==3.1.5
ament-index-python==1.4.0
ros2cli==0.18.10
ament-package==0.14.0
sensor-msgs-py==4.2.4
tf2-ros-py==0.25.7
teleop-twist-keyboard==2.4.0
rpyutils==0.2.1
domain-coordinator==0.10.0
tf2-py==0.25.7
grid-map-msgs==2.0.0
map-msgs==2.1.0
rclpy==3.3.13
diagnostic-msgs==4.2.4
robot-localization==3.5.3
rosidl-generator-py==0.14.4
resource-retriever==3.1.2
image-geometry==3.2.1
sensor-msgs==4.2.4
rosidl-typesupport-introspection-c==3.1.5
rosgraph-msgs==1.2.1
rosidl-typesupport-fastrtps-c==2.2.2
theora-image-transport==2.5.2
pcl-msgs==1.0.0
rosidl-parser==3.1.5
rosidl-adapter==3.1.5
std-srvs==4.2.4
angles==1.15.0
rosidl-typesupport-introspection-cpp==3.1.5
lifecycle-msgs==1.2.1
tf2-geometry-msgs==0.25.7
xacro==2.0.8
std-msgs==4.2.4
rosbag2-interfaces==0.15.11
tf2-msgs==0.25.7
ament-cmake-test==1.3.9
point-cloud-interfaces==1.0.11
stereo-msgs==4.2.4
statistics-msgs==1.2.1
rosidl-generator-cpp==3.1.5
nav2-msgs==1.1.15
rosidl-generator-c==3.1.5
visualization-msgs==4.2.4
cv-bridge==3.2.1
rosidl-typesupport-cpp==2.0.1
geometry-msgs==4.2.4
ffmpeg-image-transport-msgs==1.1.2
rosidl-cmake==3.1.5
rosidl-typesupport-c==2.0.1
geographic-msgs==1.0.6
rosbag2-py==0.15.11
nav-msgs==4.2.4
rcl-interfaces==1.2.1
rcutils==5.1.6
rosidl-typesupport-fastrtps-cpp==2.2.2
unique-identifier-msgs==2.2.1
diagnostic-updater==3.1.2
action-msgs==1.2.1
rmw-dds-common==1.6.0
composition-interfaces==1.2.1
interactive-markers==2.3.2
message-filters==4.3.4
nmea-msgs==2.0.0
turtlebot3-msgs==2.2.3
builtin-interfaces==1.2.1
vision-msgs==4.1.1
docker-pycreds==0.4.0
supervision==0.23.0
pyzed==4.1
pyzed==4.2
opencv-python-headless==4.10.0.84
autodistill-grounded-sam==0.1.2
huggingface-hub==0.24.6
blinker==1.8.2
open3d==0.18.0
opencv-python==4.10.0.82
importlib_metadata==8.5.0
gitdb==4.0.11
soundfile==0.12.1
python-dateutil==2.9.0.post0
roboflow==1.1.44
xyzservices==2024.9.0
widgetsnbextension==4.0.11
requests-toolbelt==1.0.0
protobuf==5.27.0
traitlets==5.14.3
transformations==2024.5.24
smmap==5.0.1
Jinja2==3.1.4
referencing==0.35.1
tomli==2.0.1
pandas==2.2.2
ConfigArgParse==1.7
numexpr==2.10.1
dash-table==5.0.0
Flask==3.0.3
moviepy==1.0.3
py-cpuinfo==9.0.0
pip==24.3.1
jedi==0.19.1
rpds-py==0.20.0
setproctitle==1.3.3
plotly==5.23.0
tqdm==4.66.4
urllib3==1.26.14
itsdangerous==2.2.0
regex==2024.7.24
bokeh==3.6.1
pillow==10.4.0
nvidia-cufft-cu12==11.0.2.54
contourpy==1.3.0
autodistill==0.1.28
scipy==1.14.1
fastjsonschema==2.20.0
tzdata==2024.1
dash-core-components==2.0.0
proglog==0.1.10
torchvision==0.19.0
imageio==2.36.0
nvidia-cuda-cupti-cu12==12.1.105
portalocker==2.10.1
MarkupSafe==2.1.5
ultralytics-thop==2.0.11
filelock==3.14.0
seaborn==0.13.2
typing_extensions==4.12.1
azure-identity==1.19.0
comm==0.2.2
nbformat==5.10.4
torch==2.4.0
azure-core==1.32.0
pycocotools==2.0.8
cffi==1.17.1
Cython==3.0.10
Cython==3.0.11
evo==1.30.1
natsort==8.4.0
idna==3.7
fsspec==2024.5.0
nvidia-cuda-nvrtc-cu12==12.1.105
dash==2.17.1
tenacity==9.0.0
Markdown==3.7
defusedxml==0.7.1
matplotlib-inline==0.1.7
tornado==6.4.1
retrying==1.3.4
grpcio==1.67.1
nvidia-cudnn-cu12==9.1.0.70
exceptiongroup==1.2.2
networkx==3.3
zipp==3.20.1
yapf==0.40.2
nest-asyncio==1.6.0
msal==1.31.0
click==8.1.7
executing==2.0.1
ruamel.yaml==0.18.6
hub-sdk==0.0.8
Werkzeug==3.0.3
parso==0.8.4
sentry-sdk==2.17.0
safetensors==0.4.5
zstandard==0.22.0
rosbags==0.10.0
pure_eval==0.2.3
azure-storage-blob==12.22.0
imageio-ffmpeg==0.5.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-nvjitlink-cu12==12.5.40
jupyter_core==5.7.2
torchaudio==2.4.0
prompt_toolkit==3.0.47
addict==2.4.0
nvidia-nccl-cu12==2.20.5
isodate==0.6.1
matplotlib==3.9.2
threadpoolctl==3.5.0
GitPython==3.1.43
numpy==1.26.4
tensorboard==2.18.0
nvidia-nvtx-cu12==12.1.105
stack-data==0.6.3
tokenizers==0.19.1
jsonschema-specifications==2023.12.1
timm==1.0.9
nvidia-curand-cu12==10.3.2.106
ultralytics==8.3.38
triton==3.0.0
jupyterlab_widgets==3.0.11
ipywidgets==8.1.3
ruamel.yaml.clib==0.2.8
jsonschema==4.23.0
onnx==1.16.1
scikit-learn==1.5.1
rf-segment-anything==1.0
nvidia-cuda-runtime-cu12==12.1.105
rdkit==2024.3.6
joblib==1.4.2
dash-html-components==2.0.0
nvidia-cublas-cu12==12.1.3.1
platformdirs==4.2.2
msal-extensions==1.2.0
ipython==8.26.0
transformers==4.44.2
charset-normalizer==3.4.0
absl-py==2.1.0
rf-groundingdino==0.2.0
tensorboard-data-server==0.7.2
attrs==24.2.0
wandb==0.18.7
pycparser==2.22
nvidia-cusparse-cu12==12.1.0.106
requests==2.32.3
pyquaternion==0.9.9
filetype==1.2.0
wcwidth==0.2.13
asttokens==2.4.1
pip==24.0
flake8-builtins==1.5.3
mercurial==6.1.1
lark==1.1.1
blinker==1.4
colcon-test-result==0.3.8
nose2==0.9.2
beniget==0.4.1
rosdep==0.24.0
roman==3.3
fonttools==4.29.1
colcon-mixin==0.2.3
colcon-cd==0.2.1
httplib2==0.20.2
fastimport==0.9.14
setuptools==59.6.0
usb-creator==0.3.7
command-not-found==0.3
pycodestyle==2.8.0
breezy==3.2.1
configobj==5.0.6
colcon-library-path==0.2.1
argcomplete==1.8.1
chardet==4.0.0
flake8==4.0.1
empy==3.3.4
wrapt==1.13.3
wadllib==1.3.6
nose==1.3.7
distlib==0.3.4
PyGithub==1.55
future==0.18.2
colcon-devtools==0.3.0
zipp==1.0.0
cov-core==1.15.0
iniconfig==1.1.1
wheel==0.37.1
PyGObject==3.42.1
colcon-powershell==0.4.0
tomli==1.2.2
docopt==0.6.2
fastbencode==0.0.5
html5lib==1.1
pyxdg==0.27
ufoLib2==0.13.1
paramiko==2.9.3
pytest==6.2.5
python-debian==0.1.43+ubuntu1.1
pytest-repeat==0.9.1
colcon-output==0.2.13
certifi==2020.6.20
launchpadlib==1.10.16
pytest-cov==3.0.0
typing-extensions==3.10.0.2
pyflakes==2.4.0
colorama==0.4.4
pyrsistent==0.18.1
PyJWT==2.3.0
systemd-python==234
wstool==0.1.18
flake8-deprecated==1.3
reportlab==3.6.8
mypy-extensions==0.4.3
ptyprocess==0.7.0
xkit==0.0.0
lockfile==0.12.2
colcon-common-extensions==0.3.0
mpmath==0.0.0
rpm==4.17.0
colcon-pkg-config==0.1.0
notify2==0.3
ply==3.11
rospkg==1.5.1
MarkupSafe==2.0.1
colcon-argcomplete==0.3.3
texttable==1.6.4
mpi4py==3.1.3
xdg==5
rosdistro-modules==0.9.1
colcon-package-information==0.4.0
Brotli==1.0.9
fasteners==0.14.1
ufw==0.36.1
typed-ast==1.4.3
cupshelpers==1.0
mccabe==0.6.1
colcon-ros==0.4.1
jeepney==0.7.1
cycler==0.11.0
websocket-client==1.2.3
unicodedata2==14.0.0
pytest-mock==3.6.1
pexpect==4.8.0
click==8.0.3
PyNaCl==1.5.0
python-dateutil==2.8.1
distro-info==1.1+ubuntu0.2
rospkg-modules==1.5.1
pip==22.0.2
docker-compose==1.29.2
six==1.16.0
flake8-class-newline==1.6.0
pydot==1.4.2
colcon-defaults==0.2.8
kazam==1.4.5
colcon-python-setup-py==0.2.8
pytest-timeout==2.1.0
urllib3==1.26.5
oauthlib==3.2.0
appdirs==1.4.4
python-dotenv==0.19.2
bcrypt==3.2.0
catkin-pkg-modules==1.0.0
Mako==1.1.3
olefile==0.46
monotonic==1.6
requests-toolbelt==0.9.1
language-selector==0.1
vcstool==0.3.0
colcon-metadata==0.2.5
Brlapi==0.8.3
dbus-python==1.2.18
lz4==3.1.3+dfsg
coverage==6.2
rosinstall-generator==0.1.23
PyYAML==5.4.1
jsonschema==3.2.0
patiencediff==0.2.1
lazr.uri==1.0.6
colcon-bash==0.5.0
pytest-rerunfailures==10.2
Deprecated==1.2.13
flake8-docstrings==1.6.0
pymacaroons==0.13.0
soupsieve==2.3.1
snowballstemmer==2.2.0
duplicity==0.8.21
Pillow==9.0.1
python-gitlab==2.10.1
importlib-metadata==4.6.4
netifaces==0.11.0
rosdistro==0.9.1
ubuntu-drivers-common==0.0.0
gpg==1.16.0
PyQt5-sip==12.9.1
gast==0.5.2
pythran==0.10.0
SecretStorage==3.3.1
toml==0.10.2
colcon-core==0.16.1
protobuf==3.12.4
apturl==0.5.2
packaging==21.3
lazr.restfulclient==0.14.4
defer==1.0.6
attrs==21.2.0
py==1.10.0
colcon-recursive-crawl==0.2.3
dulwich==0.20.31
pyRFC3339==1.1
beautifulsoup4==4.10.0
colcon-zsh==0.5.0
colcon-package-selection==0.2.10
ssh-import-id==5.11
docutils==0.17.1
pytz==2022.1
requests==2.25.1
terminator==2.1.1
python-apt==2.4.0+ubuntu3
catkin-pkg==1.0.0
cryptography==3.4.8
bloom==0.12.0
ubuntu-pro-client==8001
sensor-msgs==1.13.1
louis==3.20.0
dockerpty==0.4.1
fs==2.4.12
rosdep-modules==0.24.0
docker==5.0.3
colcon-notification==0.3.0
colcon-override-check==0.0.1
psutil==5.9.0
unattended-upgrades==0.1
lxml==4.8.0
sympy==1.9
keyring==23.5.0
scipy==1.8.0
genmsg==0.5.16
idna==3.3
mypy==0.942
pygraphviz==1.7
macaroonbakery==1.3.1
colcon-installed-package-information==0.2.1
distro==1.7.0
Pygments==2.11.2
libcomps==0.1.15
numpy==1.21.5
kiwisolver==1.3.2
flake8-quotes==3.3.1
more-itertools==8.10.0
flake8-comprehensions==3.8.0
vcstools==0.1.42
colcon-cmake==0.2.28
pycairo==1.20.1
rosinstall==0.7.8
pyparsing==2.4.7
pluggy==0.13.0
pydocstyle==6.1.1
flake8-blind-except==0.2.0
flake8-import-order==0.18.1
colcon-parallel-executor==0.3.0
decorator==4.4.2
webencodings==0.5.1
genpy==0.6.16
PyQt5==5.15.6
pycups==2.0.1
onnx-graphsurgeon==0.5.0
tensorrt==10.0.1
tensorrt-dispatch==10.0.1
tensorrt-lean==10.0.1
